<center>
<h2><%= @market.name %></h2> 
<br>
<h6><%= @market.address %></h6>
<br>
<%= image_tag "#{rand(1...14)}.jpg" %>
<br>
<% @market.reviews.each do |review| %>
<%= review.rating %>
<br>
<%= review.title %>
<br>
<%= review.comment %>
<% end %>
</center>